.hero {
  padding: 56px 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1279px) {
  .hero {
    padding: 48px 48px 0;
  }
}

@media (max-width: 1023px) {
  .hero {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .hero {
    padding-top: 49px;
  }
}
