.footer__link {
  text-decoration: none;
  color: #fff;
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 1280px) {
  .footer__link:hover {
    opacity: 0.8;
  }
}

@media (max-width: 767px) {
  .footer__link {
    font-size: 24px;
  }
}