.cover {
  margin: 0 auto;
  width: calc(100vw - 96px);
  height: calc((100vw - 96px) / 1.6);
}

.cover__background {
  display: flex;
  flex-direction: column;
  background: url(../../images/cover-trains.jpg) no-repeat center center;
  background-size: cover;
}