.header__btn {
  margin-right: 18px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 24px;
  color: #fff;
  transition: opacity 0.3s ease-in-out;
}

.header__btn:last-of-type {
  margin-right: 0;
}

@media (min-width: 1280px) {
  .header__btn:hover {
    opacity: 0.8;
  }
}
