.cover__background {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc((100vw - 96px) / 1.6);
  text-decoration: none;
  background: url(../../../images/cover-trains.jpg) no-repeat center center;
  background-size: contain;
  color: #fff;
}

.cover__background::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 1280px) {
  .cover__background:hover::after {
    opacity: 0.8;
  }
}

@media (max-width: 1279px) {
  .cover__background {
    height: calc(100vw / 1.6);
  }
}
